:root{
    --light-color-nav: #c06958;
    --light-color-select: rgb(114, 81, 25);
    --light-color-contact: #c06958;
    
    --dark-color-nav: #8C5638;
    --dark-color-select: rgb(73, 53, 19);
    --dark-color-contact: #A76B50;
    font-size: 17px;

}
*{
    font-family: 'Oswald', sans-serif;
    box-sizing:border-box;
    margin: 0;
      padding: 0;
    
}

#top{
    display: flex;
    background-color: var(--light-color-nav,orange);
    align-items: center;
    
    & h1{
        align-items: center;
        justify-content: center;
        margin:1rem;
        font-size: 2.5rem;
    }
    & nav{
        text-align: right;
        font-size: 1.8rem;
        font-weight: 549;
        padding: 0.7rem;
        flex-grow:1;
        position:relative;
        
        & ul{
            display: flex;
            justify-content: flex-end;
            gap:2rem;
            & li{
                list-style: none;
            }
        }
        & a{
            color:black;
            text-transform: uppercase;
            text-decoration: none;
            padding:1vw;
            
        }
        & a:hover{
            color: var(--light-color-select,beige);
            transition: all ease-in-out 250ms;
        }
    
    }
}
#top #logo{
    display:block;
    align-items: center;
    justify-content: center;
    margin:0.5rem;
    line-height: 1rem;
    & p{
        margin:1rem;
    }
}

h2{
    font-size: 2em;
    font-weight: 549;
}
h3{
    font-size: 1.5em;
}
input, textarea,select {
    background-color:white !important;
}
#picture_holder{
    background-image: url(/images/mapleleaves.jpg);
    min-height: 20vh; 
    background-size: cover; 
    background-repeat: no-repeat;
    & h2{
        text-align: center;
        padding:6vh;
        color:white;
        font-size:3em;
    }
    
}

main {
    display: flex;
    flex-wrap: wrap;
    padding:0.25rem;
    gap:1rem;
    margin:1em;
}
aside, #About ul, #Projects ul, #Experiments :not(h2,weather-widget){
    background-color: var(--light-color-contact,orange);
    border-radius: 15px;
}

aside{
    /* The #contact_me section is in here*/
    background-color: var(--light-color-contact,orange);
    border-radius: 15px;
    padding: 0.8rem;
    line-height: 180%;
}

#Contact_Me{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}
form :required {
        border: 2px solid blue;
    }
    input:invalid{
        box-shadow: 0 0 5px 1px red;
    }
    input:focus:invalid{
        box-shadow: none;
    }

    @keyframes flash{
        50%{
            background: pink;
        }
        100%{
            background: transparent;
        }
    }
    @keyframes fade {
        0%{
            display:inline;
            opacity:1;
        }
        100%{
            opacity: 0;
            display:none;
        }
    }
    .flash{
        animation: flash .5s;
    }
    
    .fadeOutError {
        display: inline !important;
        animation: fade 5s forwards;
    }
    
    output:not( #countdown ){
        display:none;
        background-color: pink;
        border-radius: 5px;
    }
    #countdown{
        display:block;
    }
#submitBtn{
    padding:0.5rem;
    font-size: 1rem;
}

#Sections_box{
    flex-grow:1;
    flex-direction: column;
    margin-right: 2rem;
}
.switch{
    position: fixed;
    top:10px;
    right:10px;
    display: inline-block;
    height: 34px;
}
.switch input{
    display:none;
}

.slider{
    position:relative;
    display: inline-block;
    width:60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
}
.slider:before{
    position:absolute;
    content: "";
    height: 26px;
    width: 26px;
    left:4px;
    bottom: 4px; 
    background-color: white;
    border-radius: 50%;
}

input:checked + .slider:before{
    transform: translateX(26px);
}
input:checked +.slider:after{
    background-color: black;
}
#About {
    & ul{
        background-color: var(--light-color-contact,orange);
        list-style: none;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
#Projects {				
    & ul{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        
        & li{
            background-color: var(--light-color-contact,orange);
            margin: 1rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 0.1rem solid black;
            border-radius: 15px;
            max-width: 20rem;
            min-height: 20rem;

            & a{
                padding-bottom:1rem;
            }
        }
    }
}
#Projects #mern_pic, #Projects #omdb_pic{
    object-position: 50% 50%;
}
#Experiments{
    & ul{
        list-style: none;
    }
}
footer{
    text-align: center;
}

@media screen and (max-width:1050px) {
    nav, aside{
        width:100%;
    }

    #top #logo{
        line-height: 1.4rem;
    }
}
@media screen and (max-width:900px){

    nav ul{
        flex-direction: column;
        width: 100%;
        & li{
            text-align: center;
        }
    }
}
@media screen and (max-width:690px){
    :root{
        font-size: 10px;
    }
    nav ul li{
        display:inline;
        align-items: center;
    }
    iframe{
        max-width: 50vw;
    }
}
@media screen and (max-width:390px){
    :root{
        font-size: 10px;
    }

}

@media (prefers-color-scheme: dark) and (color-gamut: srgb) {
    :root{
        background-color: black;
        color:white;
    }
    #top{
        background-color: var(--dark-color-nav,brown);
    }
    .colormatch{
        background-color: var(--dark-color-contact,brown);
    
    }
    #Projects ul li{
        background-color: rgba(79, 65, 48, 0.674);
    }

}
